input {
  border: none;
  border-radius: 2%;
  display: block;
  margin-top: 1.5em;
  font-size: 20px;
  padding: .5em;
  width: 12em;
}

button {
  border: none;
  border-radius: 2%;
  font-size: 20px;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: .5em;
  position: relative;
  left: 7em;
  width: 6em;
}

p {
  position: relative;
  left: 7em;
}

a {
  position: relative;
  left: 11em;
}